streamlit
scikit-learn
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
pypdf
tqdm
ollama
# sentence-transformers
# faiss-cpu  # or faiss-gpu if using GPU

# # Only if using Swarm agents explicitly in your architecture
# swarm-core

# For file upload support
python-magic-bin; platform_system=="Windows"
